<mat-toolbar >
  <span>
    <a routerLink="/">
      <span>Admin Dashboard</span>
    </a>
  </span>

  <span style="display: flex;margin-right: 10%;">
    <a routerLink="/" *ngIf="isAuthenticated">
      <span>Home</span>
    </a>
    <a routerLink="/Visitis" *ngIf="isAuthenticated">
      <span>Visits</span>
    </a>
  </span>
  <span>
    <a
      *ngIf="!isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/login"
    >
      <span>Login</span>
    </a>
    <a
      *ngIf="isAuthenticated"
      (click)="logout()"
      routerLinkActive="active-link"
      routerLink="/login"
    >
    <i class="fa fa-sign-out" aria-hidden="true"></i>

    </a>
    <a
      *ngIf="!isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/signup"
    >
      <span>Signup</span>
    </a>
  </span>
</mat-toolbar>
