<h2 style="float: right; font-size: 25px;color:#337ab7;">Date : {{formattedDate}}</h2>
<table class="table">
    <thead >
      <tr>
        <th scope="col">Effectif Total</th>
        <th scope="col">Nrs Absense</th>
        <th scope="col">Visiteur</th>
        <th scope="col">Autres</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.visit">
        <td>{{item.data.userscount.nbuser}}</td>
        <td>{{item.data.allabsences.nbtotal}}</td>
        <td>{{item.data.visitcount.nbvisit}}</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>

  <div style="display: flex; align-items: center;margin-top: 4%;">
    <select id="monthFilter" class="form-select" aria-label="Default select example">
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <i class="fa fa-refresh fa-spin" style="font-size:24px; margin-left: 10px;" (click)="refreshChart()"></i>
  </div>
  
  <div id="chartContainer" style="height: 370px; width: 100%;"></div>

