
<table class="table">
    <thead >
      <tr>
        <th scope="col">Effectif Total</th>
        <th scope="col">Nrs Absense</th>
        <th scope="col">Visiteur</th>
        <th scope="col">Autres</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>500</td>
        <td>20</td>
        <td>36</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>

  <mat-form-field appearance="fill" style="margin-left: 82%; margin-top: 3%;">
    <mat-label>Choose an option</mat-label>
    <select matNativeControl>
      <option value="" selected></option>
      <option value="volvo">Volvo</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field>

<!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div> -->
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
